@font-face {
  font-family: Roboto;
  src: url(images/Roboto-Regular.ttf);
}

body {
  box-sizing: border-box;
  margin: auto 0;
  font-family: "roboto", sans-serif;
}

.section-1 {
  box-sizing: border-box;
}


.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  background-color: #011827;
  height: 144px;
  width: 100vw;
}

.image_4 {
  grid-column-start: 1 / span 2;
  width: 128px;
  height: 82px;
  border-radius: 17px;
  padding-top: 27px;
  padding-left: 27px;
}



h1 {
  grid-column: 2 / span 4;
  color: #FFFFFF;
  margin-top: 27px;
  width: 78px;
  height: 84px;
  padding-left: 13px;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 0;
}

.navTop {
  display: none;
}


@media screen and (min-width: 1280px) {
  .container {
    height: 216px;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    grid-column: 2 / span 4;
    width: 404px;
    margin-top: 61px;
    margin-bottom: 0;
    padding-left: 24px;
    font-size: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .navTop {
    grid-row: 2;
    grid-column: 2 / 10;
    display: flex;
    justify-content: space-between;
  }

  .ulTop {
    list-style-type: none;
    font-weight: 700;
    cursor: pointer;
    color: #FFFFFF;

  }


  ul li {
    margin-left: 50px;
    display: inline;
    margin-right: 85px;
  }

  .ulTop li:hover {
    color: #8ACFE5;
  }
}



.image_2 {
  height: 274px;
  margin: 0;
  padding: 0;
  width: 100vw;
  object-fit: cover;
}

@media screen and (min-width: 1280px) {
  .image_2 {
    height: 468px;
  }
}

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.onSiteButton,
.onSiteButton_2 {
  margin-top: 37px;
  font-size: 24px;
  width: 308px;
  height: 66px;
  background-color: #8ACFE5;
  color: #011827;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

@media screen and (max-width: 1279px) {

  .onSiteButtonTop,
  .onLineButtonTop {
    display: none;
  }
}



@media screen and (min-width: 1280px) {

  .onSiteButtonTop,
  .onLineButtonTop {
    font-size: 24px;
    width: 308px;
    height: 66px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
  }

  .onSiteButtonTop {
    margin-left: 17px;
    background-color: #8ACFE5;
    transform: translateY(-33px);

  }

  .onLineButtonTop {
    color: #FFFFFF;
    background-color: #E3170A;
    transform: translateY(-33px);
  }

  .onSiteButton,
  .onSiteButton_2 {
    display: none;
  }
}

.onLineLink,
.onLineLink_2 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 16px;
  text-decoration: underline;
  color: #36769D;
}

@media screen and (min-width: 1280px) {

  .onLineLink,
  .onLineLink_2 {
    display: none;
  }
}

.infoSection {
  display: flex;
  flex-direction: row;
  height: 139px;
  margin-top: 67px;
  margin-right: 20px;
}


.infoSectionText {
  margin-left: 22px;
}


.image_3 {
  width: 73px;
  height: 72px;
  margin-left: 21px;
}


.quote {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
}


.visitorInfo {
  font-size: 18px;
  font-weight: 400;
}


.doubleHead {
  display: none;
}


.infoSection_2 {
  display: inline-flex;
  flex-direction: row;
  height: 139px;
  margin-top: 67px;
  margin-right: 20px;
}


.infoSectionText_2 {
  margin-left: 22px;
}


.image_3 {
  width: 73px;
  height: 72px;
  margin-left: 21px;
}


.quoteDouble_2 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
}


.visitorInfo_2 {
  font-size: 18px;
  font-weight: 400;
}

.section-4 {
  display: inline-flex;
  margin: auto 0;
  padding: 0;
}


@media screen and (min-width: 1280px) {

  .singleHead {
    display: inline-flex;
  }

  .doubleHead {
    display: inline-flex;
    margin: 0;
    padding: 0;
  }

  .quoteDouble_2 {
    display: inline-flex;

  }
}


.header-2 {
  text-align: center;
}

h2 {
  margin-top: 105px;
  font-size: 32px;
  font-weight: 400;
  margin-left: 21px;
}


.section-5 {
  display: flex;
  justify-content: center;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  margin-top: 44px;
  margin-bottom: 0;
}

.scroll-content {
  display: inline-flex;
  overflow-x: scroll;
  padding: 15px;
}

.scroll-content::-webkit-scrollbar {
  display: none;
}

.scroll-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.roomCard_1 {
  margin-left: 42px;
}

.roomCard_2,
.roomCard_3 {
  margin-left: 38px;
}

@media screen and (min-width: 1280px) {

  .roomCard_2,
  .roomCard_3 {
    margin-left: 44px;
  }

}


.image_2_small {
  width: 363px;
  height: 219px;
  border-radius: 8px 8px 0px 0px;
}


.ratingBox {
  display: flex;
  flex-direction: column;
  height: 227px;
  width: 363px;
  box-shadow: 0px 0px 3px 0px rgba(146, 137, 137, 0.75);
  border-radius: 8px;
}


h3 {
  margin-top: 12px;
  margin-left: 17px;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 400;
}


.imageStars {
  display: flex;
  flex-direction: row;
  margin-left: 17px;
  height: 13px;
  width: 225px;
  justify-content: space-between;
}


.participants {
  font-size: 14px;
  margin: auto 0;
}


.latinText {
  font-size: 18px;
  font-weight: 400;
  margin-top: 23px;
  margin-left: 18px;
  margin-bottom: 0;
  width: 328px;
  height: 80px;
}


.bookingButton {
  width: 179px;
  height: 44px;
  margin-top: 5px;
  margin-left: 166px;
  background-color: #E3170A;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
}


.section-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 42px;
}


.onSiteButton_2 {
  margin: 0;
}


@media screen and (max-width: 1279px) {

  .onSiteButtonBottom,
  .onLineButtonBottom {
    display: none;
  }
}

@media screen and (min-width: 1280px) {

  .onSiteButtonBottom,
  .onLineButtonBottom {
    font-size: 24px;
    width: 308px;
    height: 66px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
  }

  .onLineButtonBottom {
    color: #FFFFFF;
    background-color: #E3170A;
  }

  .onSiteButtonBottom {
    background-color: #8ACFE5;
    margin-left: 17px;
  }
}

.latinBox_2 {
  margin-top: 56px;
  background-color: #011827;
  width: 100vw;
  height: 500px;
  text-align: center;
}

.quote_2 {
  margin: 95px 20px 0 21px;
  color: #FFFFFF;
  font-size: 28px;
}


.storyButton {
  margin-top: 70px;
  width: 308px;
  height: 66px;
  font-size: 24px;
  font-weight: 700;
  color: #8ACFE5;
  background-color: #011827;
  border-color: #8ACFE5;
  border-radius: 8px;
}



@media screen and (min-width: 1280px) {
  .latinBox_2 {
    display: flex;
    flex-direction: column;
    margin-top: 87px;
    width: 100vw;
    align-items: center;
  }

  .quote_2 {
    margin-top: 123px;
    width: 632px;

  }

  .storyButton {
    margin-top: 35px;
  }
}


.section-7 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 98px;
}

.image_5 {
  width: 100vw;
  height: auto;
}


.playText {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  width: 440px;
}


.latinBox_3 {
  margin-left: 20px;
  width: 435px;
  height: 112px;
}


.quote_3 {
  font-size: 24px;
  font-weight: 400;
  padding: 0;
  margin-bottom: 0;
}


.bookOnSiteButton {
  margin-top: 30px;
  margin-bottom: 64px;
  margin-left: 20px;
  width: 308px;
  height: 66px;
  background-color: #E3170A;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
}




.image_6 {
  width: 100vw;
  height: auto;
}


.playText_2 {
  margin: 30px 20px 0px 20px;
  font-size: 32px;
  font-weight: 700;
  width: 440px;
}


.latinBox_4 {
  width: 435px;
  height: 112px;
  margin-left: 20px;
}


.quote_4 {
  font-size: 24px;
  font-weight: 400;
}


.seeAllButton {
  margin-top: 25px;
  width: 308px;
  height: 66px;
  background-color: #E3170A;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}



@media screen and (min-width: 1280px) {
  .section-7 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: auto;
  }

  .image_5 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    width: 50vw;
  }

  .playText {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    text-align: start;
    margin-top: 60px;
    margin-left: 116px;
  }

  .latinBox_3 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    text-align: start;
    margin-top: 25px;
    margin-left: 116px;
  }


  .bookOnSiteButton {

    margin-top: 25px;
    margin-left: 116px;
  }

  .playText_2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    text-align: start;
    margin-top: 60px;
    margin-left: 108px;
  }

  .latinBox_4 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    margin-top: 25px;
    margin-left: 108px;
  }

  .quote_4 {
    text-align: start;
    margin-top: 170px;
  }

  .seeAllButton {
    margin-top: 25px;
  }

  .image_6 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    width: 50vw;
  }
}


.footer {
  background-color: #011827;
  color: #FFFFFF;
  height: 566px;
  margin-top: 98px;
}

.part1 {
  margin-top: 64px;
  margin-right: 20px;

}


.footerTitle,
.siteMap,
.followUs {
  font-weight: 700;
}


.latinText_4 {
  font-weight: 400;
  margin-top: 7px;

}


.footerTitle,
.latinText_4,
.siteMap,
.followUs {
  font-size: 18px;
  margin-left: 22px;
  margin-bottom: 0;
}

.siteMap {
  margin: 40px 0 7px 22px;
}


.footer ul {
  margin-left: 22px;
  margin-top: 0;
  padding: 0;
}

.footer li {
  list-style-type: none;
}


.footer a {
  display: block;
  padding: 0;
}


.siteMapList_1 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}


.followUs {
  margin-top: 47px;
  margin-bottom: 0;
}


.socialMedia ul {
  margin-top: 7px;
  padding: 0;
}


@media screen and (min-width: 1280px) {
  .footer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 467px;
    align-items: center;
  }

  .part1 {
    width: 450px;
    margin-left: 88px;
    margin-top: 0px;
    text-align: start;
    align-self: center;
  }

  .part2 {
    display: inline;
    margin-left: 100px;
    align-self: center;
  }

  .siteMap {
    display: block;
    align-self: center;
  }

  .siteMapList_1 {
    display: block;
  }

  .siteMapList_2 {}

  .part3 {
    display: inline;
    margin-left: 100px;
    align-self: flex-start;
    margin-top: 130px;

  }

  .footer ul {}

  .footer li {
    margin: 0;
    padding: 0;
  }

}